html, body {
    font-family: 'Pretendard Variable', Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

section {
    margin-bottom: 200px;
}

/* ---------------------- Header ---------------------- */
.Header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* background-color: rgba(45, 37, 83, 0.5); */
    background-color: #0d0d1f;
    height: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.Header-title {
    text-decoration: none;
    font-size: 40px;
    margin: 0;
    padding-left:20px;
    color: #ff40bc;
    font-weight: bold;
}

.Header-title:hover {
    color: rgba(169, 169, 169, 0.613);
    transition: 0.5s;
}

.Header-nav {
    width: 100%;
    display: flex;
}

.Header-nav-inner {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    padding-right: 20px;
    width: 100%;
    align-items: center;
}

.Header-navLink {
    text-decoration: none;
    color:rgba(169, 169, 169, 0.613);
    font-weight: 550;
    text-align: center;
}

.Header-navLink:hover {
    color:#ff40bc;
    transition: 0.5s;
}


.Main {
    display: flex;
    flex-direction: column;
    align-items: center; /* 가로 중앙 정렬 */
    margin-top: 300px;
    opacity: 0;
    transition: opacity 1s ease;
}

.Main.fade-in {
  opacity: 1;
}

.Main.fade-out {
  opacity: 0;
  transition: opacity 0.5s ease;
}


---------------------- Profile Section ----------------------

.Main-start{
    display: flex;
    /* text-align: center; */
}

.Main-greeting {
    /* display: inline-block; */
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 300px;
    color: white;
}

#profile, #project {
    scroll-margin-top: 120px;  /* 헤더 높이보다 약간 크게 */
}


.project-img1 {
    width: 100%;
    max-width: 1000px;
    border-radius: 10px;
}

.project-img1:hover {
  transform: scale(1);
  transition: transform 0.5s ease;
}


@media (max-width: 905px) {
  #profile {
    justify-content: center;  /* 세로 배치 시 가로 중앙 정렬 */
  }

  .Main-title {
    margin-top: 0;
    padding-top: 0;
    text-align: center;
  }

  .Profile .Main-right {
    text-align: center;
  }

  .Profile .Main-right .Main-content{
    text-align: center;
  }
}

.Main-wrapper {
    display: flex;
    justify-content: center; 
    align-items: center;
    /* align-items: flex-start;   */
    flex-wrap: wrap;       
    gap: 50px;
    width: 100%;
    margin-top: 40px;
}


.Main-left {
    display: flex;
    flex-direction: column;  /* 위에서 아래로 */
    align-items: center;     /* 중앙 정렬 */
    min-width: 280px;
}

.Main-right {

  min-width: 280px;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 15px;
  
}

.Main-img {
    width: 100%;
    max-width: 400px;
    min-width: 150px;
    height: auto;
    border-radius: 10px;
}

.name {
    color: #ff40bc;
}

.Profile .Main-content {
    scroll-margin-top: 100px;
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 18px;
    text-align: left;
    color: #ff40bc;
}

.Main-title {
    text-align: center;
    font-size: 40px;
    color: white;
}

.Project .Main-content {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    max-width: 800px;
    min-width: 400px;
    width: 80%;
    list-style: none;
    margin-bottom: 60px;
}

.content-title {
    margin-left: 0;
    color: white;
    font-size: 16px;
    margin-bottom: 10px;
    list-style: none;
}

.content-title .date {
  font-size: 12px;
  color: #898989;  /* 회색처럼 덜 튀는 색 */
}

.content-title2 {
    color: #ff40bc;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 5px;
    list-style: none;

}

.content-content {
    margin-left: 0;
    font-size: 14px;
    margin: 25px 0px;
    color: white;
}

.tech-stack {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8px;
    /* margin: 12px 0; */
}

.stack-item {
    padding: 3px 10px;
    border: 1px solid slategrey;
    border-radius: 10px;
    font-size: 10px;
    color: slategrey;
    /* background-color: white; */
    font-weight: 500;
    white-space: nowrap;

}


.Main-profile-content2 {
    display: inline-block;
    padding: 8px 24px;
    text-align: center;
    /* border: 1px solid #898989; */
    background-color: #161631;
    color: rgba(255, 255, 255, 0.786);
    border-radius: 15px;
    margin-right: 10px;
    margin-bottom: 10px;
    transition: background 0.3s;
}
.Main-profile-content2:hover {
    border-color: white;
    background-color: #1f1f3a;
    color: white;
}

.Main-profile-list {
  display: flex;
  gap: 10px;      
  padding: 0;
  margin: 0;
  list-style: none; 
  color: rgba(255, 255, 255, 0.786);
}

.skill-content {
    list-style: none;
    font-size: 10px;
    display: flex;
    padding: 6px 12px;
    text-align: center;
    border: 1px solid slategrey;
    border-radius: 15px;
    transition: background 0.3s;
}

.skill-content:hover {
    background-color: slategrey;
    /* color: #14142b */
}

.popup-overlay {
    display:none;
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: rgba(0,0,0,0.5);
    /* display: flex; */
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.popup-content {
    color:#ff40bc;
    background: #0d0d1f;
    padding: 30px;
    border-radius: 10px;
    width: 90%;
    max-width: 400px;
    position: relative;
    box-shadow: 0 0 15px rgb(255, 255, 255, 0.2);
}

.close-btn {
  position: absolute;
  top: 10px; 
  right: 15px;
  font-size: 24px;
  cursor: pointer;
}

.popup-title {
  text-align: center;
  margin-bottom: 30px;
  font-size: 24px;
  color: #ff40bc;
  font-weight: 700;
}

.contact-item {
  display: flex;
  align-items: center;
  background-color: #14142b;
  border-radius: 12px;
  padding: 12px 16px;
  margin-bottom: 16px;
  text-decoration: none;
  transition: background 0.1s;
}

.contact-item:hover {
  background-color: #1f1f3a;
}

.contact-icon {
    width: 40px;
    margin-right: 16px;
    filter: brightness(0) saturate(100%) invert(51%) sepia(85%) saturate(327%) hue-rotate(286deg) brightness(97%) contrast(101%);
}

.contact-text {
  color: #ccc;
  font-size: 18px;
  font-weight: 500;
  /* font-family: 'Segoe UI', sans-serif; */
}


section {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

section.visible {
  opacity: 1;
  pointer-events: auto;
}

.Footer {
  /* background-color: rgba(255, 255, 255, 0.3); */
  text-align: center;
  padding: 20px 0;
  font-size: 14px;
  color: #898989;
  position: relative; /* 필요시 fixed도 가능 */
}

